#Main tasks--
--> Banner section //COMPLETED
--> Card section (At least 2 rows/ six cards) //COMPLETED
--> Cart section ("Apply" & "Make Purchase" button initially disabled) //COMPLETED
--> Show things that are bought and their total price //COMPLETED
--> "Make Purchase" enabled after the total price is greater than 0 //COMPLETED
--> "Apply" button enabled after the total price is greater than 200 //COMPLETED
--> Show discount and total after deducting the discount from total price //COMPLETED

#Bonus tasks--
--> Congratulation modal //COMPLETED
--> "Go Home" button that resets everything //COMPLETED
--> Responsive //COMPLETED